<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width+device-width, initial-scale=1">
	<title>terms
</title>
</head>
<body>
this page loads till everything loads
<progress></progress>
<h1>dropdown value</h1>
<select id="ddl" onchange="get_val();">
	<option value="1">apple</option>
	<option value="2">mango</option>
	<option value="3">pineapple</option>
	<option value="4">orange</option>
	<option value="5">cherry</option>
<script src="js/jquery-2.2.0.min.js"></script>
<script>
	function get_val()
	{
		var ddlval = $("#ddl").val();
		alert(ddlval);

	}
</script>
</select>
<br>first line
<hr color="red" size="10px" width="50%">
<em>emphasized text</em><br>
<small>small one</small><br>
<mark>ian</mark> is marked
<br>
<del>this is how jumia crosses out prises</del><br>
<S>the s tag is also used to cross out</S><br>
7<sub>used to write bases</sub><br>
8<sup>used for powers</sup><br>
this can be<strong> a strong text</strong><br>
the Q tag is used to quat <Q>ian is bad</Q><br>
the address tag is used to make addresses eg 
<p><address>makerere uni<br>
kampala ug<br>
P.O BOX 1111</address><br>
am citing out <cite>IAN</cite>
<br>write from the back<br>       <bdo dir="rtl"> write from the back</bdo><br>
when i use the kbd tag<br><kbd> now its in use</kbd><br>
<a href="www.google.com"><br>
	<ol type="1">
		<li>ian</li>
		<li>ken</li>
		<li>mak</li>
	</ol>
	<ol type="a">
		<li>ian</li>
		<li>ken</li>
		<li>mak</li>
	</ol>
	<ol type="i">
		<li>ian</li>
		<li>ken</li>
		<li>mak</li>
	</ol>
	<ol type="A">
		<li>ian</li>
		<li>ken</li>
		<li>mak</li>
	</ol>
	<ol type="I">
		<li>ian</li>
		<li>ken</li>
		<li>mak</li>
	</ol>
<var>(a+b)<sup>2</sup></var>=(a+b)<sub>2</ssub></var>


</body>
</html>